@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

button {
  outline: none;
}

input {

}

input:active {
  border: none;
  outline: 1px solid #b83f45;
}

input:focus {
  border: none;
  outline: 1px solid #b83f45;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.05);
}